* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    /* padding: 300px; TODO: Adjust down to extension size */
    height: 208px;
    width: 509px; 
}

h1 {
    color: #2600af;
    font-size: 50px;
    transition: all 2s ease;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin: 10px;
    padding: 10px 50px;
}

.fact {
    display: flex;
    justify-content: center;
    font-size: 20px;
    transition: all 2s ease;
    overflow-wrap: break-word;
    z-index: -1;
    text-align: center;
}



/* Dropdown Button */
.btn {
    background-color: #fff;
    color: #2600af;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 20px 50px 5px;
    height: 52px;
    width: 152px;
    border: 1px solid #5f51df;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
    transition: all 2s ease;
    z-index: 1;
  }


  
  
  /* Dropdown button on hover & focus */
  .btn:hover, .btn:focus {
    background-color: #2600af;
    color: #fefefe
  }


  .h1-transition {
    transform: scale(0.5) translateY(40px);
  }

  .btn-transition {
    transform: scale(0.8) translateY(70px); 
  }

  .fact-transition {
    transform: translateY(-120px); 
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    margin: 0 55px;
    background-color: #5f51df;
    min-width: 140px;
    border-radius: 20px;
    box-shadow: rgb(38, 57, 77) 10px 10px 20px -10px;
    text-align: center;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #2600af}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}