* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    /* padding: 300px; TODO: Adjust down to extension size */
    /* height: 400px;
    width: 600px; */
}

h1 {
    color: #000;
    font-size: 50px;
    transition: all 2s ease
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    margin: 10px;
    padding: 10px 50px;
}

.fact {
    display: flex;
    font-size: 10px;
    transition: all 2s ease;
}

/* Dropdown Button */
.btn {
    background-color: #5243d8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 20px 50px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all 2s ease;
  }
  
  /* Dropdown button on hover & focus */
  .btn:hover, .btn:focus {
    background-color: #2600af;
  }


  .h1-transition  h1{
    transform: scale(0.5) translateY(-30px);
    /* transition ?? */
  }

  .btn-transition .btn {
    transform: scale(0.8) translateY(-40px); 
  }

  .fact-transtion .fact {
  transform: scale(1.2) translateY(-30px); 
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}